body {
    margin: 0;
}

    .background_image {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        /*Rechteckigerschwarzer Hintergrund*/
    .square {
        position: absolute;
        width: 100%;
        height: 100vh;


        display: flex;
        justify-content: center;
        align-items: center;

		z-index: -1;
    }
    .side {
        position: absolute;
		top: 7.95%;
        width: 40%;
        height: 50%;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.68);
        border: 1px solid black;

		z-index: -1;
    }


    .headline_container {
        position: fixed;
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: white;
    }

    .formular_container {
        position: fixed;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: white;
    }

	.hello_in_lobby {
		position: fixed;
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 28px;
        color: white;
	}

	.there_player_lobby {
		position: fixed;
        top: 37%;
        width: 100%;
        text-align: center;
        font-size: 22px;
        color: white;
	}

	.list_player {
		position: fixed;
        top: 42%;
        width: 100%;
        text-align: center;
        font-size: 21px;
        color: white;
	}
	.btn_start {
		position: fixed;
        padding: 3px;
        top: 69%;
        left: 62.75%;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
	}

	.btn_backtostart {
        position: fixed;
        padding: 3px;
        top: 69%;
        left: 31%;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

	.btn_hit {
		 position: fixed;
        padding: 3px;
        top: 70%;
        left: 45%;
        font-size: 20px;

		z-index: -3;

        display: flex;
        justify-content: center;
        align-items: center;
	}

	.btn_stand {
		 position: fixed;
        padding: 3px;
        top: 70%;
        left: 53.6%;
        font-size: 20px;

		z-index: -3;

        display: flex;
        justify-content: center;
        align-items: center;
	}

html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }
    #background-img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -2;
    }
    #provadis-card{
        position: absolute;
        top: 12.5%;
        left: 41.75%;

        z-index: -1;
    }
    .card{
        position: absolute;
        top: 12.5%;
        left: 41.75%;

        z-index: -1;
    }
    #card-image {
        width: 100%;
        height: 100%;
        object-fit: contain;

        z-index: -1;
    }
    .deck {
        position: relative;
        top: -35px;
        width: 100px;
        height: 140px;

        z-index: -1;
    }

    .player_anzeige {
        color: white;
    }