        body {
      margin: 0;
    }
    .background_image {
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
    .headline_container {
      position: absolute;
      left: 64px;
      top: 64px;
      font-size: 24px;
      color: white;
    }
    .formular_container {
      position: absolute;
      left: 64px;
      top: 200px;
      font-size: 18px;
      color: white;
    }
    .back-container {
      position: absolute;
      left: 64px;
      top: 350px;
      font-size: 14px;
      color: deeppink;
    }
    .credit_container {
      position: absolute;
      left: 1000px;
      top: 200px;
      font-size: 20px;
      color: deeppink;
    }
    .red_button {
        background-color: #de4747;
    }
    .green_button {
        background-color: #79be64;
    }