body{
    margin: 0;
}
    .background_image {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.administration_tab {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    overflow: auto;
}
table {
    width: 50%;
    border-collapse: collapse;
}
