body{
    margin: 0;
}
    .background_image {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        /*Rechteckigerschwarzer Hintergrund*/
    .square {
        position: absolute;
        width: 100%;
        height: 100vh;


        display: flex;
        justify-content: center;
        align-items: center;
    }
    .side {
        position: absolute;
        width: 40%;
        height: 50%;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.68);
        border: 1px solid black;

    }

.administration_tab {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    outline: 1px solid #f00
}
