<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=devide-width, initial-scale=1.0">
    <title>BlackJack03</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
    <script>
    // Verbindung zum WebSocket-Server herstellen
    var socket = io();

    // Ereignis 'user_update' empfangen und die Liste aktualisieren
    socket.on('user_update', function(users_list) {
        console.log('Aktualisierte Lobbies:', users_list);

        // Ungeordnete Liste leeren
        const lobbiesList = document.getElementById('lobbies-list');
        lobbiesList.innerHTML = '';

        // Spieler in die Liste einfügen
        users_list.forEach(function(player) {
          const listItem = document.createElement('li');
          listItem.textContent = player;
          lobbiesList.appendChild(listItem);
        });
    });
    </script>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #background-img{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }
        #provadis-card{
            position: absolute;
            top: 12.5%;
            left: 41.75%;
        }
        .card{
            position: absolute;
            top: 12.5%;
            left: 41.75%;
        }
        #card-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .deck {
            position: relative;
            top: -35px;
            width: 100px;
            height: 140px;
        }

    </style>
</head>
<body>
    <button id="hit_button" onclick="CardThrowPlayer1()" disabled>
        Hit
    </button>
    <button id="stand_button" onclick="NextPlayer()" disabled>
        Stand
    </button>
    <button id="start_button" onclick="runProgram()">
        Start game
    </button>
    <p id="player_turn_box"></p>
    <!--<form action ="/game_template" method="POST" name="login">
        <input type="submit" value="Anmelden">
    </form>-->
    <div class="deck">
        <div class="card" style="top: 83%; left: 800.75%;">
            <img src="/static/Black_Jack_Grafiken/Karten/Karten Rückseite/provadis Rueckseite 2.png" alt="Card 1">
        </div>
        <div class="card" style="top: 83%; left: 800.75%;">
            <img src="/static/Black_Jack_Grafiken/Karten/Karten Rückseite/provadis Rueckseite 2.png" alt="Card 2">
        </div>
        <div class="card" style="top: 83%; left: 800.75%;">
            <img src="/static/Black_Jack_Grafiken/Karten/Karten Rückseite/provadis Rueckseite 2.png" alt="Card 3">
        </div>
    </div>
    <img id="background-img" src="/static/Black_Jack_Grafiken/Spielfeld/Spielfeld_3.png" alt="Spielfeld">
    <img id="provadis-card" src="/static/Black_Jack_Grafiken/Karten/Karten Rückseite/provadis Rueckseite 2.png" alt="Provadis Card">

    <div id="card" class="card">
        <img id="card-image" src="/static/Black_Jack_Grafiken/Karten/Karten Rückseite/provadis Rueckseite 2.png" alt="Card">
    </div>

        <script>
            const suits = ['Hearts', 'Diamonds', 'Spades', 'Clubs'];
            const ranks = ['Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten', 'Jack', 'Queen', 'King', 'Ace'];

            const deck = [];

            for (const suit of suits) {
                for (const rank of ranks) {
                    const card = { rank: rank, suit: suit };
                    deck.push(card);
                }
            }
            var isFirstTime = true;
            const totalPlayers = 7
            var currentPlayer = 1

            var hitButton = document.getElementById("hit_button");
            var standButton = document.getElementById("stand_button");

            function NextPlayer() {
                currentPlayer++;

                var nextFunctionName = "CardThrowPlayer" + currentPlayer;
                // Increment the currentPlayer

                // Check if currentPlayer exceeds the total number of players
                var playerTurnElement = document.getElementById("player_turn_box");

                if (currentPlayer > totalPlayers) {
                    playerTurnElement.textContent = "Round is Over";
                    standButton.disabled = true;
                    hitButton.disabled = true;
                    CardThrowCroupier()
                    return
                }

                // Display the current player's turn
                playerTurnElement.textContent = "Player " + currentPlayer + " Turn";

                // Update the onclick attribute of the hit button with the new function call

                hitButton.setAttribute("onclick", nextFunctionName + "()");

            }

            function enableButton(){
                standButton.disabled = false;
                hitButton.disabled = false;
            }
            function getRandomCard() {
                // Randomly select a rank and suit
                const randomRankIndex = Math.floor(Math.random() * ranks.length);
                const randomSuitIndex = Math.floor(Math.random() * suits.length);
                const randomRank = ranks[randomRankIndex];
                const randomSuit = suits[randomSuitIndex];

                // Create the card object with the randomly selected rank and suit
                const card = {
                    rank: randomRank,
                    suit: randomSuit
                };

                return card;
            }

            const cardImages = {
                "AceHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_Ass.png",
                "TwoHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_2.png",
                "ThreeHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_3.png",
                "FourHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_4.png",
                "FiveHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_5.png",
                "SixHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_6.png",
                "SevenHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_7.png",
                "EightHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_8.png",
                "NineHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_9.png",
                "TenHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_10.png",
                "JackHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_Bube.png",
                "QueenHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_Dame.png",
                "KingHearts": "/static/Black_Jack_Grafiken/Karten/Herz/Herz_Koenig.png",

                "AceClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_Ass.png",
                "TwoClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_2.png",
                "ThreeClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_3.png",
                "FourClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_4.png",
                "FiveClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_5.png",
                "SixClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_6.png",
                "SevenClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_7.png",
                "EightClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_8.png",
                "NineClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_9.png",
                "TenClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_10.png",
                "JackClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_Bube.png",
                "QueenClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_Dame.png",
                "KingClubs": "/static/Black_Jack_Grafiken/Karten/Karo/Karo_Koenig.png",

                "AceDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_Ass.png",
                "TwoDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_2.png",
                "ThreeDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_3.png",
                "FourDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_4.png",
                "FiveDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_5.png",
                "SixDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_6.png",
                "SevenDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_7.png",
                "EightDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_8.png",
                "NineDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_9.png",
                "TenDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_10.png",
                "JackDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_Bube.png",
                "QueenDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_Dame.png",
                "KingDiamonds": "/static/Black_Jack_Grafiken/Karten/Kreuz/Kreuz_Koenig.png",

                "AceSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_Ass.png",
                "TwoSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_2.png",
                "ThreeSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_3.png",
                "FourSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_4.png",
                "FiveSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_5.png",
                "SixSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_6.png",
                "SevenSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_7.png",
                "EightSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_8.png",
                "NineSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_9.png",
                "TenSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_10.png",
                "JackSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_Bube.png",
                "QueenSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_Dame.png",
                "KingSpades": "/static/Black_Jack_Grafiken/Karten/Pik/Pik_Koenig.png",

            };
            function shuffleDeck() {
                const deckElement = document.querySelector('.deck');
                const cards = deckElement.querySelectorAll('.card');

                // Randomly shuffle the cards
                const shuffledCards = Array.from(cards).sort(() => Math.random() - 0.5);

                // Apply animation to shuffle the cards
                shuffledCards.forEach((card, index) => {
                    const delay = index * 100; // Delay each card's animation

                    setTimeout(() => {
                        card.style.transition = 'transform 1s ease';
                        card.style.transform = 'rotate(360deg)';
                    }, delay);
                });
            }
            class Card {
                constructor(suit, rank) {
                    this.suit = suit;
                    this.rank = rank;
                }
            }

            function setCard(card) {
                // Display card image
                const cardImage = document.getElementById("card-image");
                const imageKey = `${card.rank}${card.suit}`;
                cardImage.src = cardImages[imageKey];
                cardImage.alt = `${card.rank} of ${card.suit}`;
            }
            function resetCard() {
                // Display card image
                const cardImage = document.getElementById("card-image");
                const provadisCardImage = document.getElementById("provadis-card");
                cardImage.src = provadisCardImage.src;
                cardImage.alt = provadisCardImage.alt;
            }

            x = 312
            var cardOffset = 0;
            function createProvadisCard(){
                var provadisCard = document.getElementById('card-image');
                var provadisCardCopy = new Image();
                provadisCardCopy.src = provadisCard.src;
                provadisCardCopy.alt = provadisCard.alt;

                provadisCardCopy.style.position = 'absolute';
                provadisCardCopy.style.top = '12.5%'; /* Adjust top and left values to position the duplicate image */
                provadisCardCopy.style.left = '41.75%';
                provadisCardCopy.style.zIndex = x; /* Set a higher z-index to place it on top of the fullscreen image */
                x -= 1;
                document.body.appendChild(provadisCardCopy);
                return  provadisCardCopy
            }
            function createDeckCard(){
                var provadisCard = document.getElementById('provadis-card');
                var provadisCardCopy = new Image();
                provadisCardCopy.src = provadisCard.src;
                provadisCardCopy.alt = provadisCard.alt;

                provadisCardCopy.style.position = 'absolute';
                provadisCardCopy.style.top = '12.5%'; /* Adjust top and left values to position the duplicate image */
                provadisCardCopy.style.left = '41.75%';
                provadisCardCopy.style.zIndex = x; /* Set a higher z-index to place it on top of the fullscreen image */
                x -= 1;
                document.body.appendChild(provadisCardCopy);
                return  provadisCardCopy
            }

            function CardThrowCroupier() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard();
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease';
                provadisCardCopy.style.top = '12.5%';
                provadisCardCopy.style.left = '41.75%';
                setTimeout(function() {
                    provadisCardCopy.style.top = '12.5%';
                    provadisCardCopy.style.left = parseFloat('50.25%') + cardOffset + '%';

                }, delay);
            }
            function CardThrowPlayer1() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = parseFloat('8.75%') + cardOffset + '%';
                    provadisCardCopy.style.left = '85.75%';
                    cardOffset+=1.5;
                    setTimeout(function() {
                        provadisCardCopy.style.transform = 'rotate(-90deg)'; // Apply rotation after translation
                    }, 10); // Delay before applying rotation in milliseconds
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowPlayer2() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = parseFloat('42%') + cardOffset + '%';
                    provadisCardCopy.style.left = '85.75%';
                    cardOffset+=1.5;
                    setTimeout(function() {
                        provadisCardCopy.style.transform = 'rotate(-90deg)'; // Apply rotation after translation
                    }, 10); // Delay before applying rotation in milliseconds
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowPlayer3() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = '82.75%';
                    provadisCardCopy.style.left = parseFloat('70%') + cardOffset + '%';
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowPlayer4() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = '82.75%';
                    provadisCardCopy.style.left = parseFloat('45%') + cardOffset + '%';
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowPlayer5() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = '82.75%';
                    provadisCardCopy.style.left = parseFloat('18%') + cardOffset + '%';
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowPlayer6() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = parseFloat('42%') + cardOffset + '%';
                    provadisCardCopy.style.left = '9.25%';
                    setTimeout(function() {
                        provadisCardCopy.style.transform = 'rotate(90deg)'; // Apply rotation after translation
                    }, 10); // Delay before applying rotation in milliseconds
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowPlayer7() {
                const randomCard = getRandomCard();
                setCard(randomCard);
                var provadisCardCopy = createProvadisCard()
                provadisCardCopy.style.transition = 'top 1s, left 1s, transform 1s ease'; // Apply transition for smooth animation
                provadisCardCopy.style.top = '12.5%'; // New position for top
                provadisCardCopy.style.left = '41.75%'; // New position for left
                setTimeout(function() {
                    provadisCardCopy.style.top = parseFloat('10.75%') + cardOffset + '%';
                    provadisCardCopy.style.left = '9.25%';
                    setTimeout(function() {
                        provadisCardCopy.style.transform = 'rotate(90deg)'; // Apply rotation after translation
                    }, 10); // Delay before applying rotation in milliseconds
                }, delay); // Delay before translation in milliseconds
            }

            function CardThrowRandomFix(){
                const randomCard = getRandomCard();
                setCard(randomCard);
            }


            const delay = 100; // Delay between each action
            function dealCardsfirstRound(playerCount) {
                const players = Array.from({ length: playerCount }, (_, i) => `Player${i + 1}`);

                players.forEach((player, index) => {
                    setTimeout(function () {
                        const currentPlayer = window[`CardThrow${player}`]
                        currentPlayer()
                        CardThrowRandomFix()
                        if (player === `Player${players.length}`) {
                            setTimeout(function () {
                                CardThrowCroupier()

                                setTimeout(function () {
                                    players.forEach((player, index) => {
                                        setTimeout(function () {
                                            const currentPlayer = window[`CardThrow${player}`]
                                            currentPlayer()
                                            CardThrowRandomFix()
                                        }, index * delay);
                                    });
                                }, delay);
                            }, delay);
                        }
                    }, index * delay);
                });
            }

            function showFirstPlayer(){
                var playerTurnElement = document.getElementById("player_turn_box");
                playerTurnElement.textContent = "Player " + currentPlayer + " Turn";
            }
            function startButtonDisappear(){
                var startButton = document.getElementById("start_button");
                startButton.style.display = "none";
            }
            function runProgram(){
                startButtonDisappear()
                shuffleDeck()
                createDeckCard()
                resetCard()
                dealCardsfirstRound(totalPlayers)
                setTimeout(function () {
                    showFirstPlayer()
                    enableButton()
                }, totalPlayers * 2 * delay + delay * 4);
            }
        </script>

<div class="square">
    <div class="side"></div>
</div>

<div class="headline_container">
    <h1 class="hello_in_lobby">Herzlich willkommen in der Lobby von {{ Host }}</h1>
</div>

<div class="formular_container">
    <h2 class="there_player_lobby">In dieser Lobby befinden sich folgende Spieler:</h2>
    <ul id="lobbies-list"></ul>
{#    {% for element in players %}#}
{#        <li class="player_list">#}
{#            {{ element }}#}
{#        </li>#}
{#    {% endfor %}#}
    <br>
    <form action="/users/{{Host}}" method="POST" name="user">
        <input type="submit" value="Spiel starten" name="btn" class="btn_startgame">
    </form>
</div>
<div class="back-container">
    <form action="/users/{{Host}}" method="POST" name="user">
        <input type="submit" value="Zurück zur Startseite" name="btn" class="btn_backtostart">
    </form>
</div>

</body>
</html>