<!DOCTYPE html>
<html>
<head>
    <title>Anmeldeseite</title>
</head>
<body>
<h1>BlackJack</h1>

<form action="/" method="POST">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" name="username">

    <br>

    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password">

    <br>

    <input type="submit" value="Anmelden">
</form>

<!-- Zusätzlicher Button für die Registrierung -->
<button onclick="redirectToRegistration()">Registrieren</button>

<script>
    // JavaScript-Funktion, um zur Registrierungsseite zu leiten
    function redirectToRegistration() {
        window.location.href = "/registrierung";
    }
</script>

</body>
</html>