<!DOCTYPE html>
<html>
<head>
  <title>Registrierung</title>
  <style>
    .background_image {
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
    /*body {*/
    /*  background-image: url('R.png');*/
    /*  background-repeat: no-repeat;*/
    /*  background-size: cover;*/
    /*}*/
  </style>
</head>
<body>
<h1>Registrierung</h1>
<img class="background_image" src="/templates/R.png">
<form method="POST" action="/registrierung">
  <label for="username">Benutzername:</label>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Passwort:</label>
  <input type="password" id="password" name="password" required><br><br>

  <input type="submit" value="Registrieren">
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

<a href="/login">Zurück zum Login</a>
</body>
</html>