<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=devide-width, initial-scale=1.0">
  <title>Registrierung</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<img class="background_image" src="/static/R.png">

<div class="headline_container">
  <h1>Registrierung</h1>
</div>

<div class="formular_container">
  <form method="POST" action="/registrierung">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="first_name">Vorname:</label>
    <input type="text" id="first_name" name="first_name" required><br><br>

    <label for="last_name">Nachname:</label>
    <input type="text" id="last_name" name="last_name" required><br><br>

    <label for="birthdaytime">Birthday (date and time):</label>
    <input type="datetime-local" id="birthdaytime" name="birthdaytime">

    <input type="submit" value="Registrieren">
  </form>
  {% if error_message %}
  <p style="color: red;">{{ error_message }}</p>
  {% endif %}
</div>

<div class="back-container">
  <a href="/">Zurück zum Login</a>
</div>

</body>
</html>