<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=devide-width, initial-scale=1.0">
  <title>BlackJack</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>

<div class="square">
    <div class="side"></div>
</div>

<div class="headline_container">
  <h1>Willkommen</h1>
  <p>Hallo, {{ username }}!, Schön, dass du da bist!</p>
</div>

<div class="formular_container">
  <h2>Wähle aus folgenden Aktivitäten:</h2>
    <form action="/startPage" method="POST">
        <input type="submit" name="btn" value="Zufälligem Spiel beitreten" class="btnran_game">
        <br>
        <input type="submit" name="btn" value="Spiel hosten" class="btnhost_game">
        <br>
        <input type="submit" name="btn" value="Spiel beitreten" class="btnjoin_game">
    </form>

</div>

<div class="back-container_startP">
        <form action="/" method="Get">
        <input type="submit" value="Logout">
    </form>
        <h2 class="lbl_credit">Credit: {{credit}}</h2>
</div>

<!--<div class="credit_container">-->
<!--    <p>Credit: {{ credit }}</p>-->
<!--</div>-->

<img class="background_image" src="/static/R.png">
</body>
</html>


