<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=devide-width, initial-scale=1.0">
  <title>BlackJack</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<img class="background_image" src="/static/R.png">

<div class="headline_container">
  <h1>Wilkommen</h1>
  <p>Hallo, {{ username }}!, Schön, dass du da bist!</p>
</div>

<div class="formular_container">
  <h2>Wähle aus folgenden Aktivitäten:</h2>
    <form action="/startPage" method="POST">
        <input type="submit" name="btn" value="Zufälligem Spiel beitreten">
        <br>
        <input type="submit" name="btn" value="Spiel hosten">
        <br>
        <input type="submit" name="btn" value="Spiel beitreten">
    </form>
</div>

<div class="back-container">
        <form action="/" method="Get">
        <input type="submit" value="Logout">
    </form>
</div>

<div class="credit_container">
    <p>Credit: {{ credit }}</p>
</div>
</body>
</html>

