<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Users</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
{#    <script type="text/javascript">#}
{#        var socket = io();#}
{##}
{#        socket.on('user_update', function(onlineUsers) {#}
{#            var userList = document.getElementById('user-list');#}
{#            userList.innerHTML = '';#}
{##}
{#            onlineUsers.forEach(function(user) {#}
{#                var listItem = document.createElement('li');#}
{#                listItem.textContent = user;#}
{#                userList.appendChild(listItem);#}
{#            });#}
{#        });#}
{#    </script>#}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<img class="background_image" src="/static/R.png">

<div class="headline_container">
    <h1>Herzlich willkommen in der Lobby von {{ Host }}</h1>
</div>

<div class="formular_container">
    {% for element in players %}
        <li>
            {{ element }}
        </li>
    {% endfor %}
</div>
</body>
</html>