<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Users</title>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>#}
{#    <script type="text/javascript">#}
{#        var socket = io();#}
{##}
{#        socket.on('user_update', function(players) {#}
{#            var userList = document.getElementById('user-list');#}
{#            userList.innerHTML = '';#}
{##}
{#            players.forEach(function(user) {#}
{#                var listItem = document.createElement('li');#}
{#                listItem.textContent = user;#}
{#                userList.appendChild(listItem);#}
{#            });#}
{#        });#}
{#    </script>#}

    {#SOCKET-TEST#}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>
// Verbindung zum WebSocket-Server herstellen
var socket = io();

// Ereignis 'user_update' empfangen und die Liste aktualisieren
socket.on('user_update', function(users_list) {
console.log('Aktualisierte Lobbies:', users_list);

// Ungeordnete Liste leeren
const lobbiesList = document.getElementById('lobbies-list');
lobbiesList.innerHTML = '';

// Spieler in die Liste einfügen
users_list.forEach(function(player) {
  const listItem = document.createElement('li');
  listItem.textContent = player;
  lobbiesList.appendChild(listItem);
});
});
// Verbindungsereignis behandeln
socket.on('connect', function() {
    console.log('Connected');
});

// Trennungsereignis behandeln
socket.on('disconnect', function() {
    console.log('Disconnected');
});
</script>
{#SOCKET-TEST#}

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<img class="background_image" src="/static/R.png">
<div class="headline_container">
    <h1>Herzlich willkommen in der Lobby von {{ hostname }}</h1>
</div>

<div class="formular_container">
    <h2>In dieser Lobby befinden sich folgende Spieler:</h2>
    <ul id="lobbies-list">
      <!-- Die Spieler werden dynamisch durch JavaScript eingefügt -->
    </ul>
{#    {% for element in current_players %}#}
{#        <li>#}
{#            {{ element }}#}
{#        </li>#}
{#    {% endfor %}#}
    <br>
    <form action="/users/{{Host}}" method="POST" name="user">
        <input type="submit" value="Spiel starten" name="btn" >
    </form>
</div>
<div class="back-container">
    <form action="/users/{{Host}}" method="POST" name="user">
        <input type="submit" value="Zurück zur Startseite" name="btn" >
    </form>
</div>
</body>
</html>